.App{
  min-width: 100vw;
  min-height: 100vh;
  background-color: aqua; 
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  /* background-color: #fff; */
}

.position_wrapper {
  display: flex;
  justify-content: space-evenly;
  min-height: 50px;
}

.rows {
  display: flex;
}

.box {
  display: grid;
  place-items: center;
  margin: 5px;
  /* background-color: beige; */
}

.ball {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.ball_active {
  background-color: red;
}

.position_box {
  min-width: 50px;
  min-height: 50px;
}

.position_box_active, .ball_position_active {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-color: red;
}